/* BEGIN (write your solution here) */
@font-face {
	
}
/* END */

body {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 50px;

	color: #eee;

	/* BEGIN (write your solution here) */
	
	/* END */

	background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);
	}

img {
	max-width: 100%;

	vertical-align: middle;
}

a {
	color: inherit;
}

h1 {
	font-size: 2em;
}

h2 {
	color: #00adb5;
	font-size: 1.5em;
}

.tabs {
	width: 1024px;
	margin: 0 auto;

	/* BEGIN (write your solution here) */
	
	/* END */
}

/* BEGIN (write your solution here) */


/* END */

.span-all {
	column-span: all;
}
